In [6]:
import numpy as np
import pandas as pd

np.random.seed(42)

n_samples = 1000

disease_profiles = {
    'Healthy': {
        'temperature': (37.5, 39.0),
        'blood_pressure': (100, 120),
        'blood_oxygen': (95, 100)
    },
    'Mastitis': {
        'temperature': (39.5, 41.0),
        'blood_pressure': (90, 110),
        'blood_oxygen': (92, 98)
    },
    'Heat Stress': {
        'temperature': (40.0, 42.0),
        'blood_pressure': (80, 100),
        'blood_oxygen': (90, 96)
    },
    'Respiratory Disease': {
        'temperature': (39.0, 40.5),
        'blood_pressure': (85, 105),
        'blood_oxygen': (85, 94)
    },
    'Milk Fever': {
        'temperature': (36.5, 38.5),
        'blood_pressure': (70, 90),
        'blood_oxygen': (90, 96)
    },
    'Circulatory Shock': {
        'temperature': (36.0, 37.5),
        'blood_pressure': (60, 80),
        'blood_oxygen': (80, 92)
    }
}

data = []

for disease, ranges in disease_profiles.items():
    temperature = np.random.uniform(ranges['temperature'][0], ranges['temperature'][1], n_samples)
    blood_pressure = np.random.uniform(ranges['blood_pressure'][0], ranges['blood_pressure'][1], n_samples)
    blood_oxygen = np.random.uniform(ranges['blood_oxygen'][0], ranges['blood_oxygen'][1], n_samples)

    disease_data = pd.DataFrame({
        'temperature': temperature,
        'blood_pressure': blood_pressure,
        'blood_oxygen': blood_oxygen,
        'disease': disease
    })
    
    data.append(disease_data)

synthetic_data = pd.concat(data, ignore_index=True)

synthetic_data = synthetic_data.sample(frac=1).reset_index(drop=True)

print(synthetic_data.head())

synthetic_data.to_csv('synthetic_cow_health_data.csv', index=False)

df = synthetic_data

   temperature  blood_pressure  blood_oxygen              disease
0    39.435426       97.474845     87.534877  Respiratory Disease
1    37.061308       69.631068     89.559155    Circulatory Shock
2    36.139867       63.219110     90.875190    Circulatory Shock
3    37.525368       72.426094     93.132571           Milk Fever
4    36.609079       78.226925     94.713761           Milk Fever

In [7]:
df.describe()

       temperature  blood_pressure  blood_oxygen
count  6000.000000     6000.000000   6000.000000
mean     38.905679       90.816445     92.351483
std       1.600171       14.251091      4.295485
min      36.000465       60.005049     80.010244
25%      37.494107       79.867014     90.205143
50%      38.999828       91.552332     92.890236
75%      40.253667      101.656368     95.444415
max      41.998921      119.988275     99.989104

In [8]:
synthetic_data['disease'].value_counts()

Respiratory Disease    1000
Circulatory Shock      1000
Milk Fever             1000
Heat Stress            1000
Mastitis               1000
Healthy                1000
Name: disease, dtype: int64